header{
    background-color: rgb(242, 236, 248);
}

a{
    text-decoration: none;
}

.main-section{
    margin-top: 50px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h2{
    background-color: rgb(60, 159, 235);
    
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 3px 0 black;
    color: white;
    margin: 20px;
}

textarea {
    border: 2px solid rgb(93, 90, 90);
    border-radius: 14px;
}

button{
    margin: 10px;
}

button.btn:hover,.container h2:hover{
    background-color: rgb(7, 41, 68);
}

#encode-section, #decode-section, #decoded-text-section, #password-section{
    flex-direction: column;
    display: none;
}

#decode-section input{
    margin: 10px;
}

#encoded-text, #decoded-text{
    border: 2px solid gray;
    box-shadow: 0 0 2px 0;
    border-radius: 14px;
    font-size: 12px;
    width: 350px;
    padding: 10px 15px;
    text-align: justify;
}
#encode-password{
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 0 2px 0;
    padding: 4px;
    color: rgb(7, 41, 68);
}

footer p{
    margin-top: 200px;
    color: gray;
    text-align: center;
    font-size: 10px;
}


#change-text{
    background-color: rgb(7, 41, 68);
}